<div class="container">
	



	<div class="row bg-warning">
		<div class="container">


			<h1>Elliott Cox</h1>
		</div>
	</div>

	<div class="row bg-primary">
		<div class="container">
			<h1>Education</h1>
		</div>
	</div>

	<div class="row bg-secondary">
		<div class="container">
			<h1>Computer & Software Skills</h1>
		</div>
	</div>

	<div class="row bg-success">
		<div class="container">
			<h1>Experience</h1>
		</div>
	</div>

	<div class="row bg-danger">
		<div class="container">
			<h1>Activites & Experiences</h1>
		</div>
	</div>

	<div class="row bg-info">
		<div class="container">
			<h1>Interests</h1>
		</div>
	</div>

</div>