<div class="container">
	



	<div class="row bg-warning text-center">
		<div class="container">
			<h1>Elliott Cox</h1>
			<h2>Programmer, Sound Designer</h2>
			<a href="https://twitter.com/vamped_games?lang=en">@VampedGames</a>
		</div>
	</div>



	<div class="row bg-primary">
		<div class="container">
			<h2>Education</h2>
			<dl class="pull-left col-sm-10">
				<dt>Depaul University, College of Computing and Digital Media</dt>
					<br>
				<dd>Bachelor of Science in Game Design</dd>
			</dl>
			<dl class="pull-right col-sm-2">
				<dt>Chicago,IL</dt>
					<br>
				<dd>June 2015</dd>
			</dl>
		</div>
	</div>



	<div class="row bg-secondary">
		<div class="container">
			<h2>Computer & Software Skills</h2>
		</div>
	</div>

	<div class="row bg-success">
		<div class="container">
			<h2>Experience</h2>
		</div>
	</div>

	<div class="row bg-danger">
		<div class="container">
			<h2>Activites & Experiences</h2>
		</div>
	</div>

	<div class="row bg-info">
		<div class="container">
			<h2>Interests</h2>
		</div>
	</div>

</div>